@import "../../style.scss";
.friend-component {
  padding: 20px;
  @include themify($themes) {
    background: themed("bg");
    margin: 0 20px 0 20px;
    border-radius: 10px;
    .Friend_title {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid themed("textColor");

      .Friend_relative {
        display: flex;
        align-items: center;
        height: 30px;
        gap: 10px;
        .Friend_input {
          border: 2px solid themed("textColor");
          border-radius: 20px;
          padding-left: 35px;
          width: 150px;
          color: themed("textColor");
          // border-radius: 20px;
          background-color: transparent;
        }

        .Friend_input:focus {
          outline: none;
        }

        .Friend_search {
          position: absolute;
          margin-left: 10px;
          color: themed("textColor");
        }
      }
    }

    h2 {
      font-size: 24px;
      margin-bottom: 10px;
      color: themed("textColor");
    }

    .friend-list {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
    }

    .friend-card {
      display: flex;
      align-items: center;
      //   width: 100px;
      padding: 10px;
      //   border: 1px solid #ddd;
      border-radius: 8px;
      text-align: center;
      gap: 10px;
      //   background-color: #f9f9f9;

      span{
        color: themed("textColor");
      }

      .avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-bottom: 10px;
      }
    }
  }
}
