@import "../../style.scss";

.post {
  @include themify($themes) {
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    background-color: themed("bg");
    color: themed("textColor");

    .container {
      padding: 20px;

      .user {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .userInfo {
          display: flex;
          gap: 20px;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }

          .details {
            display: flex;
            flex-direction: column;

            .name {
              font-weight: 500;
            }

            .date {
              font-size: 12px;

            }
          }
        }

        .PersonAddIcon:hover {
          cursor: pointer;
        }

        .overlay {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.5);
          /* Màu đen với độ trong suốt 0.5 */
          z-index: 1;
        }

        .modalContainer {
          max-width: 600px;
          width: 100%;
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          background-color: #ffffff;
          box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
          border-radius: 8px;
        }

        .imgModal {
          width: 250px;
          object-fit: cover;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          border: 2px solid #411B57;
        }

        .modalRight {
          width: 100%;
          border: 2px solid #411B57;
        }

        .closeBtn {
          position: fixed;
          top: 8px;
          right: 8px;
          color: #000;
        }

        .closeBtn:hover {
          cursor: pointer;
        }

        .content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          margin-top: 3rem;
          padding: 1rem 2rem;
          color: #411B57;
        }

        .btnContainer {
          display: flex;
          padding: 1rem 1rem;
        }

        .btnContainer button {
          width: 100%;
          margin: .5rem;
          padding: 16px 0;
          /* border: none; */
          border: 1px solid #411b57;
          /* color: #ffffff; */
        }

        .btnPrimary {
          background-color: #411b57;
          color: white;
        }

        .btnPrimary:hover {
          cursor: pointer;
          background-color: #2a1238;
        }

        .btnOutline {
          /* background-color: #a76a99; */
          background-color: white;
          color: #411b57;
        }

        .btnOutline:hover {
          cursor: pointer;
        }

        .bold {
          font-weight: 600;
        }

        @media screen and (max-width: 500px) {
          .modalContainer {
            flex-direction: column;
            top: 0;
            left: 0;
            transform: none;
            width: 100%;
            height: 100vh;
          }

          img {
            width: 100%;
            max-height: 70vh;
            object-fit: cover;
          }

          .heading {
            margin: 1rem;
          }
        }
      }

      .content {
        margin: 20px 0px;

        img {
          width: 100%;
          max-height: 500px;
          object-fit: cover;
          margin-top: 20px;
        }
      }

      .info {
        display: flex;
        align-items: center;
        gap: 20px;

        .item {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          font-size: 14px;
        }
      }
    }

    .popup {
      position: fixed;
      top: 54%;
      left: 50%;
      transform: translate(-50%, -49%);
      padding: 20px;
      border: 1px solid #000000;
      z-index: 999;
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: bg();
      /* Màu nền mờ với độ mờ 45% */
      // backdrop-filter: blur(30px); /* Tạo hiệu ứng mờ bằng backdrop-filter */
      box-shadow: 0 4px 6px rgba(226, 223, 223, 0.704);
      border-radius: 10px;
      min-height: 83vh;
      overflow: hidden;
      z-index: 2;
      height: 45%;


      input {
        border: none;
        width: 96%;
        margin-bottom: 20px;
        padding: 20px 0 20px 4%;
      }

      .input_description {
        display: flex;
        height: 100px;
        width: 96%;
        /* hoặc giá trị mong muốn cho chiều cao */
        padding: 20px 0 20px 4%;
        resize: vertical;
        margin-bottom: 20px;
        max-height: 100px;
        min-height: 100px;
        background: #e9e9e9;
        /* Thêm các thuộc tính CSS khác nếu cần thiết */
      }


      select {
        border: none;
        padding: 20px;
        width: 100%;
        height: 58.4px;
        margin-bottom: 20px;
        background: #e9e9e9;
      }

      select.statusSelect {
        padding: 0;
        width: auto;
        height: auto;
      }

      h2 {
        color: #555;
        font-size: 30px;
        margin-bottom: 20px;
        margin-top: -20px;
      }

      h1 {
        color: #555;
        font-size: 30px;
        margin-bottom: 5%;
        margin-top: 30%;
        text-align: center;
      }

      // p{
      //     display: flex;
      //     position: fixed;
      //     top: 50%;
      //     left: 50%;
      //     transform: translate(-50%, -50%);
      //     width: 100%;
      //     height: 50%;
      //     justify-content: center;
      //     align-items: center;
      // }

      .imageContainer {
        width: 100%;
        height: 227px;
        margin-bottom: 20px;
        border: 1px solid white;
        margin-left: -2px;
        background: #e9e9e9;
      }

      .imageContainer img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        top: -109%;
        z-index: 1;
      }

      .dropzone {
        height: 100%;
        position: relative;
        margin-top: 21px;
        margin-right: 20px;
      }

      .imageContainer_p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 9999;
      }

      .popup-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 60%;

        .right {
          width: 60%;
          margin-right: 40px;
          margin-top: -67px;

        }

        .left {
          width: 40%;
          margin-right: 40px;
          margin-left: 40px;
          // margin-top: -22%;
        }

        .left-container {
          position: relative;
          top: -144px;
        }

      }

      .popup-title {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        border-bottom: 1px solid white;
        width: 100%;
        // padding-bottom: 10px;

        h3 {
          margin-top: 5px;
          margin-left: 40%;
        }

        .shareTop-content {
          display: flex;
          flex-direction: column;
        }
      }

      .popup-avatar {
        padding-top: 10px;
        position: relative;
        width: 100%;
        height: 20%;
        top: 0;


      }

      .popup-action {
        width: 100%;
        display: flex;
        height: 20%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      .acsess_button {
        width: 92%;
      }
    }
  }
}