@import "../../style.scss";

.navbar{
    @include themify($themes){

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom:1px solid themed("border") ;
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color: themed("textColor");
    z-index: 999;

    

    .left{
        display: flex;
        align-items: center;
        gap: 30px;
        span{
            font-weight: bold;
            font-size: 20px;
            color: themed("logo");
        }
        .search{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            border: 1px solid themed("border");
            border-radius: 5px;
            padding: 5px;
            position: relative;

            .search_input {
                display: flex;
            }

            .recent-searches {
                display: flex;
                position: absolute;
                top: 110%;
                background: themed("bg");
                left: 0;
                width: 100%;
                z-index: 1;
                flex-direction: column;
                
                justify-content: center;
                border: 1px solid lightgray;
                border-radius: 5px;

                .search-item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    position: relative;
                    margin-bottom: 2%;

                    img.avatar {
                        width: 36px;
                        height: 36px;
                        border-radius: 50%;
                        margin-right: 3%;
                    }

                    span {
                        font-size: 15px;
                    }                    
                }

                .search-item:hover{
                    background-color: themed("textColor");
                    
                    cursor: pointer;

                    span {
                        color: themed("bg");
                    } 
                }
            }

            input{
                border: none;
                width: 500px;
                background-color: transparent;
                color: themed("textColor");
                @include mobile{
                    display: none;
                }
                @include tablet{
                    width: 200px;
                }
            }
        }
    }
    .right{
        display: flex;
        align-items: center;
        gap: 20px;
        
        .user{
            @include tablet{
                display: none;
            }
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 500;
            cursor: pointer;
            img{
                width: 30px;
                 height: 30px;
                 border-radius: 50%;
                 object-fit: cover;
            }
        }

        .css-6hp17o-MuiList-root-MuiMenu-list {
            background: themed("bg");
        }
    }

}
}