.forgotpassword{
    height: 100vh;
    background: linear-gradient(rgba(17, 41, 64,), rgba(17, 41, 64, 0.1)),
                  url("./tenlua3.png") center/cover no-repeat;
    background-color: rgb(17, 41, 64);
    display: flex;
    align-items: center;
    justify-content: center;
    .popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        border: 1px solid #ccc;
        z-index: 999;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.384); /* Màu nền mờ với độ mờ 45% */
        backdrop-filter: blur(30px); /* Tạo hiệu ứng mờ bằng backdrop-filter */
        box-shadow: 0 4px 6px rgba(226, 223, 223, 0.704);
        border-radius: 10px;
        min-height: 200px;
        overflow: hidden;
        z-index: 2;

        input{
            border: none;
            padding:20px;
            width: 80%;
            margin-bottom: 20px;
        }

        h2{
            color: #555;
            font-size: 30px;
            margin-bottom: 20px;
            margin-top: -20px;
        }

        p{
            margin-top: -20px;
            margin-bottom: 10px;
        }

        .popup-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .button_AS {
                width: calc(80% + 40px);
                display: flex;
                justify-content: space-between;

                .Access_button{
                    width: 35%;
                    padding: 5px;
                    border: none;
                    background-color: rgb(174,222,228);
                    font-weight: bold;
                    color: rgb(242, 242, 242);
                    cursor: pointer;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                }

                .SendOTP_button{
                    width: 60%;
                    padding: 5px;
                    border: none;
                    background-color: rgb(29, 67, 89);
                    font-weight: bold;
                    color: rgb(242, 242, 242);
                    cursor: pointer;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                }
            }
        }
      }
      
      .close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 20px;
    }
        .card{
            width: 60%;
            display: flex;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            background-color: rgb(29, 67, 89);
            border-radius: 10px;
            min-height: 600px;
            overflow: hidden;
            .left{
                flex: 1;
                background: linear-gradient(rgba(222, 215, 236, 0.5), rgba(27, 22, 36, 0.5)), url("./Screenshot\ 2023-10-22\ 205227.png") center;
                background-size: cover;
                border-radius: 10px 0 0 10px;
                margin: 20px 0 20px 60px;
                padding: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 50px;
                color: white;
                h1{
                    font-size: 100px;
                }
                p{
                    font-size: 20px;
                }
                span{
                    font-size: 16px;
                    align-items: left;
                }
                button{
                    width: 140%;
                    border-radius: 10px;
                    padding: 10px;
                    border: none;
                    background-color: rgb(29, 67, 89);
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }
                button:hover{
                    background-color: rgb(174,222,228);    
                    color: 	rgb(17, 41, 64);
                }
            }
            .right{
                flex: 1;
                padding: 50px;
                display: flex;
                margin: 20px 60px 20px 0;
                background-color: white;
                flex-direction: column;
                gap: 50px;
                justify-content: center;
                border-radius: 0 10px 10px 0;
                h1{
                    color: #555;
                    font-size: 30px;
                }
                form{
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    input{
                        border: none;
                        border-bottom: 1px solid lightgray;
                        padding:20px;
                    }
                    button{
                        width: 40%;
                        margin-top: 25px;
                        border-radius: 10px;
                        padding: 10px;
                        border: none;
                        background-color: rgb(174,222,228);
                        font-weight: bold;
                        color: 	rgb(17, 41, 64);
                        cursor: pointer;
    
                    }
                    button:hover{
                        background-color: rgb(29, 67, 89);
                        color: white;
                    }
                }
            }
        }
    }