@import "../../style.scss";

.button-frame-container {

    @include themify($themes) {
        background-color: themed("bg");
        width: 90%;
        align-items: center;
        height: 5px;
        display: flex;
        justify-content: space-between;
        padding: 5%;
        border-radius: 16px;
        -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
         box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        margin-bottom: 10px;
    /* Adjust padding as needed */
    }


    .button {
        width: 50px;
        height: 50px;
        background-size: cover;
        background-position: center;
        border: none;
        cursor: pointer;
        background-color: transparent;
        /* Remove default button background color */
    }
}